_target_: src.losses.objective.Objective

n_step_max: ${train.n_step_max}
decay: 0.99 

weights: 
  pred_x: 1.0
  pred_z: 1.0
  recon: 0.1
  veronese_trace: 0.01 
  isometry: 0.01

targets:
  # 1. Prediction Loss: || x_gt - x_pred ||^2
  # t = k ~ k+N
  pred_x:
    _target_: src.losses.components.quat.QuatLoss

    n_step_max: ${...n_step_max}
    weight_decay: ${...decay}

    weight: ${...weights.pred_x}
    key_pred: x_traj_pred
    key_target: x_traj_true
    # Analytic Decoder always outputs unit quaternions, so no norm loss is needed
    quat_norm_weight: 0.0 
    quat_indices: ${data.quat_indices}

  # 2. Latent Prediction Loss: || z_gt - z_pred ||^2
  # t = k ~ k+N
  pred_z:
    _target_: src.losses.components.base.BaseLoss

    n_step_max: ${...n_step_max}
    weight_decay: ${...decay}

    weight: ${...weights.pred_z}
    key_pred: z_traj_pred
    key_target: z_traj_true

  # 3. Reconstruction Loss: || x_init - D(E(x_init)) ||^2
  # t = k ~ k+N
  recon:
    _target_: src.losses.components.quat.QuatLoss

    n_step_max: ${...n_step_max}
    weight_decay: ${...decay}

    weight: ${...weights.recon}
    key_pred: x_recon
    key_target: x_init
    quat_norm_weight: 0.0
    quat_indices: ${data.quat_indices}

  # 4. Veronese Trace Constraint (z space)
  # Constraint on the sum of q_i^2 on the latent space
  veronese_trace:
    _target_: src.losses.components.veronese.VeroneseTraceLoss

    n_step_max: ${...n_step_max}
    weight_decay: ${...decay}

    weight: ${...weights.veronese_trace}
    key_pred: z_traj_pred # For constraint on entire predicted z trajectory
    key_target: z_traj_true # Dummy, not used

  isometry:
    _target_: src.losses.components.isometry.PartialIsometryLoss
    n_step_max: ${...n_step_max}
    weight_decay: ${...decay}
    weight: ${...weights.isometry}
    
    key_pred: z_traj_pred   # Latent Z (NN output included)
    key_target: x_traj_true # Ground Truth X
    
    min_scale: 1.0
    sample_size: 512
    
    exclude_x_idx: ${data.quat_indices} 
    exclude_z_idx: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]