_target_: src.losses.objective.Objective

_steps: 100
_decay: 0.99

targets:
  # 1. Prediction Loss: || x_gt - D(z_pred) ||^2
  # t = k ~ k+N, Naturally include reconstruction loss for initial state
  pred_x:
    _target_: src.losses.components.quat.QuatLoss

    weight_decay: ${..._decay}
    n_step_max: ${..._steps}

    weight: 1.0
    key_pred: x_traj          # [B, N+1, D]
    key_target: x_traj_gt     # [B, N+1, D]
    quat_indices: ${data.quat_indices}
    quat_loss_type: geodesic # Options: geodesic, chordal
    quat_norm_weight: 0.1

  # 2. Latent Prediction Loss: || E(x_gt) - z_pred ||^2
  # t = k ~ k+N
  pred_z:
    _target_: src.losses.components.base.BaseLoss

    weight_decay: ${..._decay}
    n_step_max: ${..._steps}
    
    weight: 1.0
    key_pred: z_traj          # [B, N+1, D]
    key_target: z_traj_gt     # [B, N+1, D]

  # 3. Latent Consistency Loss: || z_pred - E(D(z_pred)) ||^2
  # t = k ~ k+N
  recon_z:
    _target_: src.losses.components.base.BaseLoss

    weight_decay: ${..._decay}
    n_step_max: ${..._steps}

    weight: 0.1 
    key_pred: z_traj_re       
    key_target: z_traj        
